.offres{
    background-color: #651FFF;
    color: white;
    font-family: "Compass";
    padding: 40px 0;
}

.offres > p {
    width: 70%;
    
}
.offres > div > p {
    font-size: 18px;
}
p {
    margin: 0;
}
.img-offres {
    height: 240px;
    display: flex;
    background-size: cover;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
    transition: all 0.3s ease;

}
.img-offres:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}
.img-offres >div {
    color: white;
    background-color:rgba(0,0,0, 0.6);
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Compass";
    font-size: 1.2em;
}
button p {
    font-size: 25px;
}
